name: Mirror to GitLab
on:
  push:
    branches:
      - "**"
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Push --mirror to GitLab
        run: |
          git remote add gitlab https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/ai5272709/podcast-summary.git
          git push --mirror gitlab
